html { 
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-container {
    border: 1px solid slategrey;
    width: 252px;
    height: 20px;
}
#cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#choose-container button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.choose {
    color: royalblue;
}
#submit-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid slategrey;
}
#submit {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#arena-container {
    border: 1px solid slategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 252px;
}
#arena {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid slategrey;
    height: 40px;
    width: 252px;
}
#op {
    color: red;
}
#you {
    color: royalblue;
}
#score {
    display: flex;
    flex-direction: row;
}
